.hidden {
    display: none;
}

* {
 font-family: helvetica;   
}

.top {
    display: flex;
    justify-content: space-around;
}

#hs {
    text-decoration: none;
    color:rgb(196, 23, 235)
}

button {
    background-color: rgb(85, 8, 156);
    border-radius: 5px;
    border: none;
    color: white;
    height: 50px;
    width: 150px;
    font-size: large;
    
}

button:hover {
   background-color:rgb(196, 23, 235); 
}

.landing-page, #quizPage {
    text-align: center;
    margin: 3rem;

}

#quiz-page {

}