.hidden {
    display: none;
}

* {
 font-family: helvetica;   
}

.top {
    display: flex;
    justify-content: space-around;
}

#hs {
    text-decoration: none;
    color:rgb(196, 23, 235)
}

button {
    background-color: rgb(85, 8, 156);
    border-radius: 5px;
    border: none;
    color: white;
    height: 5rem;
    width: 10rem;
    font-size: large;
    margin: 1rem;
    vertical-align: top;
    
}

button:hover {
   background-color:rgb(196, 23, 235); 
}

.landing-page, #quizPage, #highscorePage {
    text-align: center;
    margin: 3rem;

}

#scores {
    list-style: none;
    font-size: 1.5rem;
    padding-right: 1.75rem;
}
}

